{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delish!</title>

  <link rel="icon" type="image/png" href="/static/app1/fevicon.jpg">
    <link rel="stylesheet" href="{% static 'app1/style.css' %}">
</head>
<body>
    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item" style="overflow: hidden;">
                <img src="/static/app1/front04.jpg" style="display: block;">
                <div class="content" style="margin-bottom: 0; padding-bottom: 0;">
                    <div class="author">DELISH KITCHEN</div>
                    <div class="title1">Hungry?</div>
                    <div class="topic" style="color: #8e1c68; border: #8e1c68;">The Best Food Is Just a Click Away!</div>
                    <div class="des">
                       A feast fit for royalty awaits—where every bite is a celebration of flavor and craft.
                    </div>   
                    
                        <a href="{% url 'login' %}" id="order-now" class="btn-order">ORDER NOW!</a>  
                    
                </div>
            </div>
            <div class="item" style="overflow: hidden;">
                <img src="/static/app1/front03.jpg" style="display: block;">
                <div class="content" style="margin-bottom: 0; padding-bottom: 0;">
                    <div class="author">DELISH KITCHEN</div>
                    <div class="title1">Taste Happiness</div>
                    <div class="topic" style="color: #8e1c68; border: #8e1c68;">Order Your Favorite Today!</div>
                    <div class="des">
                       Majestic flavors, regal ingredients—embrace the elegance of a royal dining experience.
                    </div>
                    
                    <a href="{% url 'login' %}" id="order-now" class="btn-order">ORDER NOW!</a>      
                </div>
            </div>
            <div class="item" style="overflow: hidden;">
                <img src="/static/app1/front02.jpg" style="display: block;">
                <div class="content" style="margin-bottom: 0; padding-bottom: 0;">
                    <div class="author">DELISH KITCHEN</div>
                    <div class="title1">Fast, Fresh, & Flavorful</div>
                    <div class="topic" style="color: #8e1c68; border: #8e1c68;">Your Perfect Meal Awaits</div>
                    <div class="des">
                      Treat yourself to the king’s table: luxurious flavors, timeless classics, and sumptuous creations.          
                    </div>
                     <a href="{% url 'login' %}" id="order-now" class="btn-order">ORDER NOW!</a>  

                </div>
            </div>
            <div class="item" style="overflow: hidden;">
                <img src="/static/app1/front01.jpg" style="display: block;">
                <div class="content" style="margin-bottom: 0; padding-bottom: 0;">
                    <div class="author">DELISH KITCHEN</div>
                    <div class="title1">Delight in Every Bite</div>
                    <div class="topic" style="color: #8e1c68; border: #8e1c68;">Fresh Meals Delivered</div>
                    <div class="des">
                        Where legendary recipes meet regal hospitality—this is more than food, it’s an experience worthy of a crown.
                    </div>

                    <a href="{% url 'login' %}" id="order-now" class="btn-order">ORDER NOW!</a>  

                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="/static/app1/front04.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/app1/front03.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/app1/front02.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/app1/front01.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time" ></div>
    </div>

    <script src="{% static 'app1/script.js' %}"></script>
</body>
</html>