{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/static/app1/fevicon.jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'app1/signup.css' %}">
    </head>
<body>
    <div class="bg-image"></div>
    <div class="container">
    <center><h2>Login!</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br><br>

        <input type="password" name="password" placeholder="Password" required><br><br>

       <button class="bclass">Login</button> 
       
    {% if messages %}
  <ul class="messages-list">
    {% for message in messages %}
      <li class="message-item">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    </form>
        <p>Don't have an account?<a href="{% url 'signup' %}"style="color: #c7047f;">Register</a></p>
    </center>
    </div>
</html>